.doings {
  @media screen and (max-width: 767px) {
    display: none;
  }

  padding: 0 0 94px 0;

  &-title {
    margin-bottom: 50px;
  }

  &-list {
    display: flex;

    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    .item:not(:last-child) {
      margin-right: 30px;
    }

    .item {
      position: relative;
    }
  }

  &-descr {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 370px;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
  }

  &-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding: 27px 0;

    color: #fff;
  }
}
