.join {
  // display: inline-block;
  margin-bottom: 60px;
  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;

    align-items: center;
    // justify-content: center;

    flex-direction: column;

    margin-right: 74px;
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-right: 0;
    margin-bottom: 0;
  }

  padding-top: 12px;

  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    text-align: left;

    margin-bottom: 20px;

    text-align: center;
  }
}
