.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $dark-background-color;

  &-box {
    margin: 0;
    padding: 0;

    @media screen and (min-width: 1200px) {
      display: inline-flex;

      width: 1170px;
    }
  }

  &-logo {
    display: inline-block;

    margin-top: 0;
    margin-bottom: 20px;

    @media screen and (max-width: 479px) {
      display: flex;
      justify-content: center;
    }

    @media screen and (min-width: 480px) {
      margin-left: 148px;
      margin-right: 148px;
    }

    @media screen and (min-width: 768px) {
      margin-left: 102px;
      margin-right: 0;
    }

    @media screen and (min-width: 1200px) {
      margin-right: auto;
      margin-left: auto;
      padding-right: auto;
    }
  }

  &-addr {
    display: block;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    // @media scren and (max-width: 1199px) {
    //   margin-bottom: 60px;
    // }
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-left: 63px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: auto;
      margin-left: auto;
      text-align: left;
      margin-bottom: 0;
    }
  }

  &-mail {
    display: inline-block;
    margin-bottom: 9px;
  }

  &-link {
    color: rgba(255, 255, 255, 0.6);
  }
}

.address-box {
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }

  // margin-right: 70px;
}

.white-text {
  display: inline-block;
  margin-bottom: 9px;

  color: #ffffff;
}

@import 'footer-join';
@import 'footer-subscribe';
@import 'footer-social-links';
