.join {
  // display: inline-block;
  display: block;
  align-items: center;
  justify-content: center;

  padding-top: 12px;

  margin-bottom: 60px;

  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    text-align: left;

    margin-bottom: 20px;

    text-align: center;
  }
}
