.nav-links {
  display: flex;
  padding-left: 0;
  margin: 0;

  .item:not(:last-child) {
    margin-right: 50px;
  }

  .item {
    position: relative;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: $main-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &.current {
    color: $accent-color;
  }

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;

    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.current::after,
  &:hover::after {
    opacity: 1;
  }
}
