.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero {
  text-align: center;
  background-color: $hero-bg-color;

  &-image {
    // height: 600px;
    // max-width: 1600px;

    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/hero/hero-mobile/Hero_img.jpg);
  }

  &-title {
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    color: #ffffff;

    @media screen and (min-width: 480px) {
      font-size: 26px;
      line-height: 1.62;
    }

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.62;
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.hero-image {
  display: block;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: 50% 50%;
}

@media (min-width: 480px) {
  .hero-image {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/hero/hero-mobile/Hero_img.jpg);
  }

  @media (min-resolution: 2dppx) {
    .hero-image {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/hero/hero-mobile/Hero_img@2x.jpg);
    }
  }
}

@media (min-width: 768px) {
  .hero-image {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/hero/hero-tablet/Hero-tab.jpg);
  }

  @media (min-resolution: 2dppx) {
    .hero-image {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/hero/hero-tablet/Hero-tab@2x.jpg);
    }
  }
}

@media (min-width: 1200px) {
  .hero-image {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/hero/hero-desctop/Hero-desc.jpg);
  }

  @media (min-resolution: 2dppx) {
    .hero-image {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/hero/hero-desctop/Hero-desc@2x.jpg);
    }
  }
}

.order-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid $accent-color;

  cursor: pointer;

  padding-right: auto;
  padding-left: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  outline: transparent;

  color: #ffffff;
  background-color: $accent-color;
  border-color: $accent-color;
}
