.backdrop {
  &-header {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;

    margin-bottom: 12px;
  }

  &-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }
}

.user-comment,
.user-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;

  margin-bottom: 4px;
}

.form-field {
  padding: 0 40px;
  margin-bottom: 10px;
}

.modal-input {
  @media screen and (min-width: 480px) {
    width: 370px;
    height: 40px;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
    height: 40px;
  }

  padding-left: 42px;

  cursor: pointer;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: $accent-color;

    // .modal-icon {
    //   fill: $accent-color;
    // }
  }
}

.modal-input:focus + .modal-icon {
  fill: $accent-color;
}

.comment {
  margin-bottom: 20px;

  &-area {
    @media screen and (min-width: 480px) {
      width: 370px;
      height: 120px;
    }

    @media screen and (min-width: 1200px) {
      width: 448px;
      height: 120px;
    }

    padding: 12px 16px;

    resize: none;

    cursor: pointer;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: none;
      border-color: $accent-color;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
  }
}

.input-icon {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;

  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
