$dark-background-color: #2f303a;
$header-background-color: #ffffff;
$main-background-color: #f5f4fa;

$accent-color: #2196f3;

$main-text-color: #212121;
$sec-text-color: #757575;

$hero-bg-color: #c4c4c4;

$main-font-family: 'Roboto', sans-serif;
$sec-font-family: 'Raleway', sans-serif;
